body{
    background-image: url(https://cdn.pixabay.com/photo/2019/03/03/20/23/background-4032775_640.png);
}

#wrapper{
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 1000px;
}